//- index.jade
extends ./layout.jade

block title
    title Sample

block body
    div(class='container' ng-controller='MainCtrl as main')
        h1 Sample
        p Electronでアプリを作ろう
        include partials/form.jade
