<!DOCTYPE html>
<html lang="ja" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<div class="container" ng-controller="appCtrl">
    <h1>Sample</h1>
    <p>Electronでアプリを作ろう</p>
    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-lg" ng-click="hello()">ボタン</span>
        </span>
        <input type="text" class="form-control input-lg" ng-model="message" placeholder="メッセージを入力してください">
    </div>
</div>
</body>
</html>
