//- result.jade
table.table.table-striped.table-hover
    thead
        tr
            th No.
            th メッセージ
            th 登録日時
            th 更新日時
            th
    tbody
        tr(ng-repeat='x in main.messages track by $index')
            td {{x.id}}
            td
                input.form-control.input-lg(type='text', ng-if='x.editable' ng-model='x.input')
                span(ng-if='!x.editable') {{x.value}}
            td {{x.created_at|date:'yyyy/MM/dd HH:mm:ss'}}
            td {{x.updated_at|date:'yyyy/MM/dd HH:mm:ss'}}
            td
                .btn-group
                    span.btn.btn-primary(ng-if='x.editable' ng-click='main.save(x.id)') 更新
                    span.btn.btn-default(ng-if='!x.editable' ng-click='main.edit(x.id)') 編集
                    span.btn.btn-default(ng-click='main.del(x.id)') 削除
