//- result.jade
table.table.table-striped.table-hover
    thead
        tr
            th No.
            th メッセージ
            th 登録日
            th
    tbody
        tr(ng-repeat='x in main.messages track by $index')
            td {{x.id}}
            td {{x.value}}
            td {{x.created_at|date:'yyyy/MM/dd HH:mm:ss'}}
            td
                .btn-group
                    span.btn.btn-default(ng-click='main.edit(x.id)') 編集
                    span.btn.btn-default(ng-click='main.del(x.id)') 削除
